# Server Configuration
PORT=4040
NODE_ENV=development

# Upstash Redis
REDIS_URL=https://your-upstash-redis-url.upstash.io
REDIS_TOKEN=your_upstash_redis_token_here

# OpenWeatherMap API
AIR_QUALITY_API_BASE_URL=https://api.openweathermap.org/data/2.5/air_pollution
AIR_QUALITY_API_KEY=your_openweather_api_key_here

# Visual Crossing API
VISUAL_CROSSING_BASE_URL=https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline
VISUAL_CROSSING_API_KEY=your_visual_crossing_api_key_here

# MongoDB Database Configuration
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net
MONGO_DB_NAME=weapper